body {
    background: rgb(131,0,0);
    background: linear-gradient(90deg, rgba(131,0,0,1) 0%, rgba(255,0,0,1) 100%); 

}

h1 {
color: rgb(0, 0, 0);
text-align: center;
font-family: serif;
}   


h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: serif;
    }  
    
    h3 {
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: serif;
        }   
        h4 {
            color: rgb(0, 0, 0);
            text-align: center;
            font-family: serif;
            }   


            /* important boxes */
            .theme-box {

                position:absolute;
                top:140;
                left:30;
                
                width: 550px;
                
                height: 350px;
                
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,227,0,1) 0%, rgba(255,154,0,1) 100%); 
                
                border: 5px solid #000;
                
                border-radius: 10px;
                }

                .addon-box {

                    position:absolute;
                    top:140;
                    right:30;
                    
                    width: 550px;
                    
                    height: 480px;
                    
                    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,252,1) 0%, rgba(0,129,255,1) 100%); 
                    border: 5px solid #000;
                    
                    border-radius: 10px;
                    }



            /* end */
     .walnut2-box {

    position:absolute;
    top:70;
    left:50;
    
    width: 160px;
    
    height: 63px;
    
    background-color: #ffffff;
    
    border: 5px solid #000;
    
    border-radius: 8px;
    }
    .earlyblue-box {

        position:absolute;
        top:195;
        left:71;
        
        width: 120px;
        
        height: 95px;
        
        background-color: #ffffff;
        
        border: 5px solid #000;
        
        border-radius: 8px;
        }



        .mirco-box {

            position:absolute;
            top:65;
            left:335;
            
            width: 150px;
            
            height: 75px;
            
            background-color: #ffffff;
            
            border: 5px solid #000;
            
            border-radius: 8px;
            }

            .noscript-box {

                position:absolute;
                top:65;
                left:50;
                
                width: 130px;
                
                height: 70px;
                
                background-color: #ffffff;
                
                border: 5px solid #000;
                
                border-radius: 10px;
                }     
                   .ublock-box {

                    position:absolute;
                    top:65;
                    left:335;
                    
                    width: 130px;
                    
                    height: 70px;
                    
                    background-color: #ffffff;
                    
                    border: 5px solid #000;
                    
                    border-radius: 10px;
                    }
                        .enigmail-box {

                            position:absolute;
                            top:195;
                            left:50;
                            
                            width: 130px;
                            
                            height: 70px;
                            
                            background-color: #ffffff;
                            
                            border: 5px solid #000;
                            
                            border-radius: 10px;
                            } 
                            .downthemall-box {

                                position:absolute;
                                top:195;
                                left:335;
                                
                                width: 130px;
                                
                                height: 70px;
                                
                                background-color: #ffffff;
                                
                                border: 5px solid #000;
                                
                                border-radius: 10px;
                                }

                                .addonbutton-box {

                                    position:absolute;
                                    top:325;
                                    left:50;
                                    
                                    width: 130px;
                                    
                                    height: 70px;
                                    
                                    background-color: #ffffff;
                                    
                                    border: 5px solid #000;
                                    
                                    border-radius: 10px;
                                    }
                                    .dmual-box {

                                        position:absolute;
                                        top:325;
                                        left:335;
                                        
                                        width: 130px;
                                        
                                        height: 70px;
                                        
                                        background-color: #ffffff;
                                        
                                        border: 5px solid #000;
                                        
                                        border-radius: 10px;
                                        }
 
 
 
 /*  Submit addon button */
 .submit-box {

    position:absolute;
    top:97;
    right:30;
    
    width: 65px;
    
    height: 35px;
    
    background-color: #ffffff;
    
    border: 5px solid #000;
    
    border-radius: 8px;
    }

    /* Donate box */
    .donate-box {

        position: fixed;
        bottom: 0;
        left: 0;
        
        width: 200px;
        
        height: 90;
        
        background-color: #b0bcff;
        
        border: 10px solid #000;
        
        border-radius: 20px;
        }