body {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,14,93,1) 25%, rgba(0,143,182,1) 50%, rgba(0,9,97,1) 75%, rgba(0,15,102,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%); 


}
  h4 {
    color:rgb(214, 248, 248);
    text-align: center;
    }

    h2 {
      color:rgb(215, 255, 255);
      text-align: center;
      }
  h1 {
    color: rgb(23, 214, 255);
    text-align: center;

  }
  h5 {
    color: rgb(234, 255, 214);
    text-align: right;
  }
  h3 {
    color: rgb(255, 230, 183);
    text-align: center;
  }
  h6 {
    color: rgb(255, 230, 183);
    text-align: left;
  }

  .donate-box {

    position: fixed;
    top: 0;
    left: 0;
    
    width: 200px;
    
    height: 100;
    
    background-color: #001488;
    
    border: 10px solid #000;
    
    border-radius: 20px;
    }


    .gpl-box {

      position:absolute;
      top:0;
      right:5;
      
      width: 130px;
      
      height: 51px;
      
      background-color: #ffffff;
      
      border: 5px solid #000;
      
      border-radius: 10px;
      }
      .gplhome-box {

        position: relative;
  float: right;
  right: 1em;
  top: -1.2em;
        
        width: 95px;
        
        height: 38px;
        
        background-color: #ffffff;
        
        border: 5px solid #000;
        
        border-radius: 10px;
        }
        .source-box {

          position:absolute;
          top:70;
          right:5;
          
          width: 95px;
          
          height: 50px;
          
          background-color: #ffffff;
          
          border: 5px solid #000;
          
          border-radius: 10px;
          }
          