body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 24%, rgba(13,34,238,1) 53%, rgba(0,136,255,1) 72%, rgba(255,255,255,1) 84%); 
  
  }
    h4 {
      color:rgb(214, 248, 248);
      text-align: center;
      }
  
      h2 {
        color:rgb(215, 255, 255);
        text-align: center;
        }
    h1 {
      color: rgb(23, 214, 255);
      text-align: center;
  
    }
    h5 {
      color: rgb(0, 0, 0);
      text-align: center;
    }
    h3 {
      color: rgb(4, 0, 255);
      text-align: center;
    }
    h6 {
      color: rgb(255, 230, 183);
      text-align: center;
    }
    h7 {
      color: rgb(255, 230, 183);
      text-align: left;
    }
    .main {
  
      position: relative;
      top: 0px;
      margin: 0px auto;    
      width: 300px;   
      border: 0px solid #000;
      
      border-radius: 20px;}
  
      .main img {
        transition: all .3s;
        box-sizing: border-box;
        max-width: 100%;
      }
      .main:hover img {
        transform: scale(1.1) rotate(5deg);
      }
      .badges {
  
        position: absolute;
        top: 40px;
      left: 40px;   
     width: 83px;
        
        height: 100px;
        
        border: 0px solid #000;
        
        border-radius: 20px;}
  
  
      /* }\side bar desktop */
      .side-bar {
  
        position: absolute;
        top: 0px;
        right: 0px;   
        width: 230px;
        border-left: 1px solid black;
 background: #ffffff;
       }


  
  
  
    .donate-box {
  
      position: fixed;
      top: 0;
      left: 18px;
      
      width: 200px;
      
      height: 95px;
      
      
  
      }
      @media (max-width: 650px) {
        .donate-box {
          display: none;
        }
      }
  
  
  
      .gpl-box {
  
        position:absolute;
        top:0;
        right:18px;
        
        width: 130px;
        
        height: 51px;
        
        background-color: #ffffff;
        
        border: 5px solid #000;
        
        border-radius: 10px;
        }
        @media (max-width: 550px) {
          .gpl-box {
            display: none;
          }
        }
        

          .source-box {
  
            position:absolute;
            top:70px;
            right:18px;
            
            width: 95px;
            
            height: 50px;
            
            background-color: #ffffff;
            
            border: 5px solid #000;
            
            border-radius: 10px;
            }
            @media (max-width: 550px) {
              .source-box {
                display: none;
              }
            }