body {
  background: rgb(140,88,0);
  background: linear-gradient(90deg, rgba(140,88,0,1) 36%, rgba(37,28,0,1) 90%, rgba(37,27,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%); 




}
  
  h4 {
    color:rgb(214, 248, 223);
    text-align: left;
    }

    h3 {
      color:rgb(215, 255, 255);
      text-align: left;
      }
  h1 {
    color: rgb(255, 197, 80);
    text-align: left;

  }
  h5 {
    color: rgb(234, 255, 214);
    text-align: right;
  }
  h2 {
    color: rgb(255, 230, 183);
    text-align: center;
  }
  h6 {
    color: rgb(255, 230, 183);
    text-align: right;
  }