body {
    background-color: rgb(53, 53, 53);
  }
  h4 {
    color:rgb(214, 248, 248);
    text-align: center;
    }

    h2 {
      color:rgb(215, 255, 255);
      text-align: center;
      }
  h1 {
    color: rgb(253, 214, 255);
    text-align: center;

  }
  h5 {
    color: rgb(253, 214, 255);
    text-align: right;
  }
  h3 {
    color: rgb(53, 53, 53);
    text-align: right;
  }

  .container {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: rgb(53, 53, 53);
  }
  .box1 {
    position: absolute;
    height: 70px;
    width: 1px;
    background-color: rgb(242, 51, 17);
   
  }
  .box2 {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: rgb(242, 122, 17);
    
  }
  
  .box3 {
    position: absolute;
    height: 0px;
    width: 1px;
    background-color: rgb(242, 238, 17);

  }
  .box4 {
    position: absolute;
    height: 70px;
    width: 1px;
    background-color: rgb(36, 242, 17);
    
  }
  .box5 {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: rgb(17, 219, 242);
    
  }
  .box6 {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
  .box7 {
    position: absolute;
    height: 0px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
  .box8 {
    position: absolute;
    height: 70px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
  .box9 {
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
  .box10 {
    position: absolute;
    height: 1px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
  .box11 {
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
  .box12 {
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
  .box13 {
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: rgb(53, 53, 53);
    
  }
