body{
    background: rgb(45, 44, 49);
}
h1{
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
    color: aliceblue;
}
h3{
    text-align: left;
    color: aliceblue;
}
h4{
    text-align: right;
    color: aliceblue;
}
.right-div {

    position: absolute;
    top: 60px;
    left: 300px;   
    width: 805px;
    
    height: 1950px;
    
    
    border: 1px solid #000;
    border-width: 0px 0px 0px 3px;
    border-radius: 1px;

    }